<!DOCTYPE html>
<html>
<head>
    
        @if((string)ViewData["Title"] == "inde")
        {
            <title>Best Place For Recipies - Recipes Hub</title>
        }
        else
        {
            <title>@ViewData["Title"] - Recipes Hub</title>
        }
        <link rel="stylesheet" href="~/site.css" />
</head>
<body>

    <header class="container site-header">
        <div class="row">
            <img src="https://lh3.googleusercontent.com/proxy/tZlIim26d_d3ZbmWKvkuOu-cWJm7oPa_qhFIamJ7Lxyol4uf4N43WESQcXeU_6KW9zbrsz1vrhCJNKO00500dPzCs4LvZABkRpIqIwc4LwLCg4jL7DWMiSFcGlin4Ej5otWPmTPf" style="
    width: 20%;
"/>
        </div>
        <div class="row">
            <nav class="navbar">
                <ul class="nav nav-pills">
                    <li><a href="/About">About</a></li>
                    <li><a href="/Blog">Blog</a></li>
                    <li><a class="active" href="/">Recipes</a></li>
                    <li><a href="/Portfolio">Portfolio</a></li>
                    <li><a href="/Contact">Contact</a></li>
                </ul>
                <ul class="nav nav-pills">
                    <li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a href="/Account/Login">Login</a>
                        }
                        else
                        {
                            <form method="post" asp-page="/Account/Login" asp-page-handler="Logout">
                                <div class="input-group">
                                    <span>@User.Identity.Name</span>
                                    <button type="submit" class="btn btn-link">Logout</button>
                                </div>
                            </form>
                        }
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            @if (IsSectionDefined("Title"))
            {
                @RenderSection("Title", required: false)
            }
            else
            {
                <h2 class="title">@ViewData["Title"]</h2>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-page="/Admin/AddEditRecipe/@ViewData["Id"]" class="add-recipe btn btn-primary">Edit Recipe</a>
                }
            }
        </div>

    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="text-center">
            <span class="text-muted">Last Rendered:  @DateTime.Now</span>
        </div>
    </footer>
</body>
</html>

